<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <div class='textArea'>

<form name="form" action="/confirmEntry" method="get">
<textarea name='content' id='content' rows="30" cols="100"></textarea><br>
<h4>Which journal will you add this entry to?</h4>
<select name='journal' id='journal'>
  <option value="Spring 2019 Journal">Spring 2019 Journal</option>
  <option value="Summer 2019 Journal">Summer 2019 Journal</option>
  <option value="Fall 2019 Journal">Fall 2019 Journal</option>
  <option value="Winter 2019 Journal">Winter 2019 Journal</option>
</select><br>
<input type="submit">
</form>
</div>
    
</body>
</html>