<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

    <div class="textArea">
    <center><h1>Here are your entries</h1></center><br>

    <% for (var i = 0; i < content.length; i++){%>
       <input type ="radio" name="entry"><%=content[i]%><br><br> 
       <%}%>
        
    <form action="">
    <button type="submit" formaction="">Edit Entry</button>
    <button type="submit">Delete Entry</button><br>
    </form>
        
    <center><form action="/mainPage">
        <input type="hidden" id="username" name="username" value="">
        <button type="submit">Back</button><br>
        </form></center>
    </div>
    
</body>

</html>